@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

body{
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	color: #0D0D0D;
}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

p{
	font-size: 100%;
}


/* Portfolio items
 * --------------------------------------- */

.portfolio {
	left: 0; right: 0; margin: auto;
	width: 60%;
	position: absolute;
	padding-top: 10%;
	padding-bottom: 25%;
}


/* PROJECT PAGE
 * --------------------------------------- */
.display {
	margin-left: -5%;
}

.portfolio h1 {
	text-align: center;
	position: relative;
	padding-bottom: 10%;
}


.display .projectimg, .display .videoholder {
	width: 100%;
}

.portfolio h4 {
	text-align: right;
	line-height: 32px;
	padding-bottom: 10%;
}

.portfolio img, .portfolio video {
	width: 100%;
	padding: 8% 0 0 0;
}

.caption {
	padding-top: 10%;
	padding-left: 5%;
}

.caption a:before {
 background-color: #7F7F7F;
 content: "";
 display: inline-block;
 height: 1.5px;
 position: relative;
 vertical-align: middle;
 width: 0%;
 transition: all 0.5s ease-in;
}
.caption a:before {
 right: 0.5em;

}

.caption a:hover {
	  color: #6B7FD7;
}

.caption a:hover:before {
	width: 3%;
}

/* NAVIGATION
 * --------------------------------------- */

#menu li {
	display:inline-block;
	margin: 10px;
}

#menu li.active{
	color: #000;
}

#menu li a{
	text-decoration:none;
	font-size: 20px;
	color: #fff;
}

#menu li.active a:hover{
	color: #000;
}

#menu li:hover{
}

#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}

#menu li.active a{
	color: #000;
}

#menu{
	position:fixed;
	transform: rotate(90deg);
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	margin-right: 30%;
	z-index: 70;
}

.long {
	letter-spacing: -2px;
	padding: 0px 7px;
}


/* Homepage items
 * --------------------------------------- */

.project {
	position: absolute;
	z-index: 100;
	top: 15%;
	left: 25%;
	width: 60%;
	height: 70%;
}

.project h1 {
	left: 25%;
	bottom: 25%;
	text-align: left;
	position: absolute;
}

.frontpage {
		cursor: url(../img/cursor.png), pointer;
}

.projectimg {
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.videoholder {
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

.hummingbirdimg {
	background-image: url(../img/Hummingbird1.jpg);
}

.yogamamaimg {
	background-image: url(../img/Yogamama1.jpg);
}

.postersimg {
	background-image: url(../img/Posters.jpg);
}

.soldoaimg {
		background-image: url(../img/Soldoa5.jpg);
}

.princiereimg {
		background-image: url(../img/LaPrinciere1.jpg);
}

.eatwellyimg {
	background-image: url(../img/EatWelly1.jpg);
}


/* Text styles
 * --------------------------------------- */


h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 80px;
	z-index: 10;
}

h2 {
   font-family: 'Pragati Narrow', sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 2px;
   position: absolute;
   top: 7%;
   left: -5%;
   z-index: 10;
}

h3 {
   position: relative;
   left:15%;
   bottom: 20%;
   font-family: 'Karla', sans-serif;
   font-size: 24px;
   overflow: hidden;
   font-weight: 400;
   text-align: center;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

h3:before {
 background-color: #000;
 content: "";
 display: inline-block;
 height: 1.5px;
 position: relative;
 vertical-align: middle;
 width: 10%;
 transition: all 0.5s ease-in;
 right: 0.5em;
}


/* Colour underline
 * --------------------------------------- */

.underline-headings {
  background-image: linear-gradient(120deg, #fff 100%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
	}

.frontpage:hover .underline-headings {
  background-size: 100% 0.5em;
  background-position: 0 100%;
	}

.frontpage:hover h3:before {
	width: 5%;
}

.underline-text {
  background-image: linear-gradient(120deg, #CDD9F3 100%, #CDD9F3 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 83%;
  transition: background-size 0.25s ease-in;
	}

.underline-text:hover {
	background-size: 100% 0.2em;
    background-size: 100% 88%;
  }


/* Footer
 * --------------------------------------- */

footer {
    width: 100%;
	bottom: 0; 
	font-size: 100%;
	position: fixed;
    padding-bottom: 3%;
	z-index: 1;
}

footer p {
	left: 0;
	font-size: 100%;
	text-align: left;
	display: inline;
	padding-left: 4%;
}

.projectlink {
	float: right;
    padding-right: 5%;
	display: inline;
}

/* Social Links
 * --------------------------------------- */

.sub-menu-parent {
  position: relative;
}

.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

nav a {
  display: block;
  font-size: 16px;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #6B7FD7;
}

nav ul,
nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul {
  text-align: right;
}

nav > ul > li {
  display: inline-block;
  border-left: solid 1px #aaa;
}

nav > ul > li:first-child {
  border-left: none;
}

header {
	position: fixed;
	z-index: 1000;
	right: 0;
	left: 0;
	top: 0;
	padding: 3% 4% 0 4%;
}

.backhome {
	display: inline-block;
    left: 0;
}

nav {
   	text-align: right;	
	display: inline-block;
	float: right;
}

.inactive:hover {
	color: black;
	cursor: default;

}

/* SCROLL ICON PORTFOLIO
 * --------------------------------------- */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 20px;
  height: 35px;
  margin-left: -10px;
  bottom: 0;
  margin-bottom: 2%;
  -webkit-box-shadow: inset 0 0 0 1px #333;
          box-shadow: inset 0 0 0 1px #333;
  border-radius: 12.5px;
}

.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #333;
  margin-left: -2px;
  top: 8px;
  border-radius: 2px;
  -webkit-animation: scroll 1.5s infinite; /* Safari 4+ */
  -moz-animation:    scroll 1.5s infinite; /* Fx 5+ */
  -o-animation:      scroll 1.5s infinite; /* Opera 12+ */
  animation:         scroll 1.5s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* RESPONSIVE
 * --------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 667px) {
h1 {
	font-size: 20px;
}

h2, h3, h4 {
   visibility: hidden;
}
	
.project h1 {
	left: 15%;
}

.project {
	left: 5%;
	width: 90%;
	height: 85%;
	top: 10%;
}

.projectimg {
	width: 70%;
}

.sub-menu {
  visibility: visible;
  opacity: 1;
}
		
#menu{
	visibility: hidden;
}

.inactive {
	visibility: hidden;	
	}
	
nav a {
  font-size: 16px;
  line-height: 5px;
	}
	
	.icon-scroll {
   visibility: hidden;	
	}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	
h1 {
	font-size: 40px;
}

h2 {
   font-size: 16px;
}

h3 {
   left:30%;
   font-size: 20px;
}
	
.project h1 {
	left: 35%;
	bottom: 25%;
}

.project {
	left: 5%;
	width: 90%;
}

.projectimg {
	width: 80%;
}	

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	
h1 {
	font-size: 50px;
}

h2 {
   font-size: 16px;
}

h3 {
   left:30%;
   font-size: 20px;
}
	
.project h1 {
	left: 25%;
	bottom: 25%;
}

.project {
	left: 10%;
	width: 80%;
}

.projectimg {
	width: 70%;
}
	
} 